<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- 改成你的 SQL Server 資訊。整合 Windows 驗證(現場 ASP.NET 常用):
         Integrated Security=True 表示用 IIS app pool 的身分去連 DB。

         如果要走 SQL 帳號:
           connectionString="Data Source=YOUR_SERVER;Initial Catalog=YOUR_DB;User ID=xxx;Password=xxx"
    -->
    <add name="DefaultDb"
         connectionString="Data Source=YOUR_SQL_SERVER;Initial Catalog=YOUR_DATABASE;Integrated Security=True;Connection Timeout=15"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="10240" executionTimeout="60" />
    <!-- 預設 NTLM/Negotiate;app pool 必須有 DB 存取權 -->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
